.logo {
    overflow: hidden;
    width: 100px;
}
.logo_img {
    width: 100%;
    height: auto;
    margin: 0 auto;
}
.visible {
    display: none;
}
@media screen and (min-width: 984px) {
    .logo {
        margin: 0px 60px 0 10px;
    }
}
@media screen and (min-width: 1023px) {
  
    .visible {
        display: block;
    }
}

@media screen and (min-width: 1240px) {
    .logo {

        margin: 0px 100px 0 10px;
        
    }
}